
<h2> Gossips <h2>

<p>
  <strong>Title:</strong>
  <%= @gossip.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @gossip.text %>
</p>

<!-- Refactoring from _comment.html refer to modify-->
<h2>Comments</h2>
<%= render @gossip.comments %>

<!-- Refactoring from comments/_form.html refer to modify-->
<h2>Add a comment:</h2>
<%= render 'comments/form' %>


<h2>Add a comment:</h2>
<%= form_with(model: [ @gossip, @gossip.comments.build ], local: true) do |form| %>
  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>


<%= link_to 'Back', welcome_index_path %>
<%= link_to 'Edit', edit_gossip_path(@gossip) %> 